<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="hyman" class="codenest.BeanPropertyOfProperties.Instrumentalist">
		<!-- 指定属性为null值 -->
		<property name="song"><null/></property>
		<property name="instruments">
			<props>
				<prop key="guitar">DI</prop>
				<prop key="saxphone">HOOP</prop>
			</props>
		</property>
	</bean>

</beans>
